.body{
    
    background-color: white
}

.navbara{
    background-color:  #337ab7;
    color  :white;
}

.navbar img{
    height: 30px;
}
#conteudo{ 
    padding-top:1px;
}

h1 img{
    height: 36px;
}

img.submenu-img{display: none}

img.photo{
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height:   200px;
    width:    200px;
    border: lightgray solid thin;

}

img.photosmall{
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height:   30px;
  width:    30px;

}

.row.multiline div{ 
}
.agendarow > div{
    padding:0
}

label{
    margin-top:10px;
    text-overflow: ellipsis!important;
    overflow: hidden;
    white-space: nowrap;
}

#page-wrapper{
    padding-bottom: 100px;
}

.dropdown-menu-suggest {
 
 display: block!important;
  
}