@charset "iso-8859-1";
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 0px;
	margin-left: 0px;
	text-align: center;
	background-color: #CCCCCC;
	margin: auto;
}
.corpo {
	text-align: center;
	margin: auto;
}
.texto {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

.topo {
	width: 770px;
	display: table;
	text-align: left;
	margin: auto;
	background-color: #FFFFFF;
}
.conteudo {
	text-align: left;
	width: 770px;
	background-color: #FFFFFF;
	font-size: 10px;
	margin: auto;
	border: 0;
}
.tabela {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #999999;
	border-collapse: separate;
	background: #F0F0F0;
}
.sobre {
	width: 500px;
	margin: auto;
}

th {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	border: 0px solid #999999;
	border-collapse: separate;
	background: #000000;
}

.td_odd {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #999999;
	border-collapse: separate;
	background: #F0F0F0;
}
.td_even {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #999999;
	border-collapse: separate;
	background: #F8F8F8;
}
.forms {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	background: #FFFFFF;
	border: 1px solid #003366;
}

.h3 {
	font-size: 16px;
	color: #0066CC;
	font-weight: bold;
}

.h4 {
	font-size: 14px;
	color: #0066CC;
	font-weight: bold;
}


.conteudo_central {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	margin: auto;
	width: 750px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-color: #999999;
	border: 1px;
	border-width: 1px;
}

.rodape {
	text-align: center;
	width: 770px;
	background-image: url(../imagens/rodape.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	margin: auto;
	background-color: #FFFFFF;
	height: 65px;
	font-size: 10px;
}
a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006699;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #006699;
}
a:hover {
	text-decoration: underline;
	color: #006699;
}
a:active {
	text-decoration: none;
	color: #006699;
}
.link_menu {
    text-decoration: none;
    font: normal 11px Verdana, Arial, Helvetica, sans-serif;;
    color: #000000;
}
.link_menu:link {
    text-decoration: none;
    color: #000000;
}
.link_menu:visited {
    text-decoration: none;
    color: #000000;
}
.link_menu:hover {
    text-decoration: none;
    color: #000000;
}
.link_menu:active {
    text-decoration: none;
    color: #000000;
}
.link_submenu_pacientes {
    text-decoration: none;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    color: #000000;
}
.link_submenu_pacientes:link {
    text-decoration: none;
    color: #000000;
}
.link_submenu_pacientes:visited {
    text-decoration: none;
    color: #000000;
}
.link_submenu_pacientes:hover {
    text-decoration: none;
    color: #000000;
}
.link_submenu_pacientes:active {
    text-decoration: none;
    color: #000000;
}
.tabela_titulo {
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
	background: #006699;
	border: 1px solid #999999;
	color: #FFFFFF;
}
.forms_proc {

	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	background: #F0F0F0;
	border-style: solid;
	border-color: #003366;
	border-width: 1px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-size: 12px;
}
.tabela_tit_branco {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
}
.suggest_link {
    background-color: #F8F8F8;
    padding: 2px 6px 2px 6px;
}
.suggest_link_over {
    background-color: #DDE1E6;
    padding: 2px 6px 2px 6px;
}
.search_suggest {
    background-color: #FFFFFF;
    text-align: left;
    border: 1px solid #000000;
}
.calendar {
	width:220px;
	background-color: #F0F0F0;
	border: 1px solid #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin:0px;
	padding:0px;
	text-align:center;
}
.calendar th {
	background-color: #006699;
	font-weight: bold;
	height: 20px;
	color: #FFFFFF;
}
.calendar .header {
	background-color: #009BE6;
	font-weight: bold;
	height: 24px;
	color: #FFFFFF;
}
.calendar .footer {
	background-color: #F8F8F8;
	font-weight: bold;
	font-size:0.8em;
	color: #FFFFFF;
	width:100%;
}
.calendar td {
	width: 22px;
	height: 20px;
	text-align: center;
	font-size:0.9em;
	padding: 2px;
}
.calendar .today {
	width: 18px;
	height: 16px;
	background-color: #DDE1E6;
	padding: 2px;
	border: 1px solid #000000;
}

.calendar .link {
	width: 18px;
	height: 16px;
	background-color: #D4C9EF;
	padding: 2px;
	border: 1px solid #000000;
}

.calendar a, .calendar a:link, .calendar a:hover {
	font-weight: bold;
	text-decoration: underline;
	color: #000000;

}
.calendar a.headerNav, .calendar a:link.headerNav, .calendar a:hover.headerNav {
	background-color: #009BE6;
	color: #FFFFFF;
}

.calendar a.footerNav, .calendar a:link.footerNav, .calendar a:hover.footerNav {
	width: 100%;
	background-color: #F8F8F8;
	color: #000000;
}
input.forms:disabled
{
    background:#dddddd;
}

.submenu-img
{
	vertical-align: middle;
}

.info
{
	padding: 10px 10px;
	border-radius: 5px;
	border: 1px solid #000;
	font-size: 10pt;
}

.info .warning
{
	color: #940000;
	text-transform: uppercase;
	text-decoration: underline;
}